
.planos {
  height: 77.125rem;
  width: 100%;
  padding: 0;
  margin: 0;
  
}

.planos .assinatura {

  width: 18.375rem;
  height: 4.75rem;
  margin-top: 12.125rem;
  margin-bottom: 3.5rem;
  margin-inline: auto;


}

.planos .assinatura p {
  font: var(--title-sm);
  color: var(--text-title);
  text-align: center;
}

.planos .tipos-planos {

  width: 65.652rem;
  height: 37.875rem;
  margin-inline: auto;
  margin-bottom: 18.875rem;
 
  position: relative;

}



.planos .tipos-planos .semestral {

  width: 18rem;
  height: 26rem;
  border-radius: 24px;
  border: none;
  background: var(--shape-hover);

  margin-inline: auto;
  margin-top: 5.125rem; 
  transition: transform 800ms ease;
}


.semestral:hover {

  transform: translateY(-1rem);
  box-shadow: 0 0 66px 0 rgba(53,139,185,0.10)
}

.semestral header {
width: 14rem;
height: 7.375rem;
margin-inline: 2rem;
padding-top:2rem ;
  & h1 {
      font: var(--title-xs);
    color: var(--pink-light);
    margin-bottom: 1.5rem;
 }

  & .price span:nth-child(1) {
  color: var(--text-title);
  font: var(--title-md);
 }

  & .price span:nth-child(2) {
  color: var(--text-title);
  font: var(--title-xs);
  
 }

  & .price p {
   margin-top: 0.5rem;
   color: var(--text-label);
  font: var(--body-sm);
  
 }
}

.semestral .info {
  display: block;
  margin-inline: 2rem;
  margin-top: 4.375rem;
}

.semestral ul {

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}



.semestral ul li {
font: var(--body-xs);
color: var(--text-body);
list-style: none;



display: flex;
align-items: center;
gap: 0.5rem;

}

.semestral button {

  height: 2.5rem;
  width: 14rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--text-title);
  font: var(--tt-button);
  background: var(--pink-dark);
  margin-top: 0.5rem;
  position: relative;
  z-index: 0;
}


.semestral button::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 14rem;
  z-index: 1;
  top: -0.5rem;
  left:0;
  border-radius: 50%;
  background: var(--text-title);
  margin-top: 0.5rem;
  opacity: 0;
  transform: scale(0.1);
  transition-property: transform opacity border-radius;
  transition-duration: 500ms;
  transition-timing-function: ease;  
}

.semestral button:hover::before {

  transform: scale(1);
  opacity: .1;
  border-radius: 8px;
}



.semestral {
  position: relative;
  z-index: 2;

}

.semestral .popular {

  width: 5.625rem;
  height: 1.875rem;
  
  border-radius: 999px;
  background-color: var(--shape-stroke);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 1.49rem;
  right: 1.52rem;

  & span {
    font: var(--tt-tag);
    color: var(--text-body);   
   
  }
}
.semestral img[src*="Bunny"] {

 position: absolute;
 top: -3.1rem;
 left: 2rem;
}






.planos .tipos-planos .anual {

  width: 18rem;
  height: 26rem;
  border-radius: 24px;
  border: 1px solid var(--shape-stroke);
  background: var(--shape-base);

  margin-inline: auto;
  margin-top: 5.125rem;
  
  
  position: absolute; 
  z-index: 1;
  top:2rem;
  left: 42rem;
  transform: rotateZ(8deg);
   transition-property: transform box-shadow border z-index;
  transition-duration: 800ms; 
 }

 


.anual header {
width: 14rem;
height: 7.375rem;
margin-inline: 2rem;
padding-top:2rem ;
  & h1 {
      font: var(--title-xs);
    color: var(--blue-light);
    margin-bottom: 1.5rem;
 }

  & .price span:nth-child(1) {
  color: var(--text-title);
  font: var(--title-md);
 }

  & .price span:nth-child(2) {
  color: var(--text-title);
  font: var(--title-xs);
  
 }

  & .price p {
   margin-top: 0.5rem;
   color: var(--text-label);
  font: var(--body-sm);
  
 }
}

.anual .info {
  display: block;
  margin-inline: 2rem;
  margin-top: 2.5rem;
}

.anual ul {

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}



.anual ul li {
font: var(--body-xs);
color: var(--text-body);
list-style: none;



display: flex;
align-items: center;
gap: 0.5rem;

}

.anual button {

  height: 2.5rem;
  width: 14rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--text-title);
  font: var(--tt-button);
  background: var(--blue-dark);
  margin-top: 0.5rem;
  position: relative;
}

.anual button::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 14rem;
  z-index: 1;
  top: -0.5rem;
  left:0;
  border-radius: 50%;
  background: var(--text-title);
  margin-top: 0.5rem;
  opacity: 0;
  transform: scale(0.1);
  transition-property: transform opacity border-radius;
  transition-duration: 500ms;
  transition-timing-function: ease;  
}

.anual button:hover::before {

  transform: scale(1);
  opacity: .1;
  border-radius: 8px;
}




.planos .tipos-planos .mensal {

  width: 18rem;
  height: 26rem;
  border-radius: 24px;
  border: 1px solid var(--shape-stroke);
  background: var(--shape-base);

  margin-inline: auto;
  margin-top: 5.125rem;
 
  
  position: absolute;
   z-index: 1;

   top:2rem;
  right: 42rem;
  transform: rotateZ(-8deg);

  transition-property: transform box-shadow border z-index;
  transition-duration: 800ms; 
} 






.mensal header {
width: 14rem;
height: 7.375rem;
margin-inline: 2rem;
padding-top:2rem ;
  & h1 {
      font: var(--title-xs);
    color: var(--blue-light);
    margin-bottom: 1.5rem;
 }

  & .price span:nth-child(1) {
  color: var(--text-title);
  font: var(--title-md);
 }

  & .price span:nth-child(2) {
  color: var(--text-title);
  font: var(--title-xs);
  
 }

  & .price p {
   margin-top: 0.5rem;
   color: var(--text-label);
  font: var(--body-sm);
  
 }
}

.mensal .info {
  display: block;
  margin-inline: 2rem;
  margin-top: 2.5rem;
}

.mensal ul {

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  margin-top: 5.5rem;
}



.mensal ul li {
font: var(--body-xs);
color: var(--text-body);
list-style: none;



display: flex;
align-items: center;
gap: 0.5rem;

}

.mensal button {

  height: 2.5rem;
  width: 14rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--text-title);
  font: var(--tt-button);
  background: var(--blue-dark);
  margin-top: 0.5rem;
  position: relative;
}




.mensal button::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 14rem;
  z-index: 1;
  top: -0.5rem;
  left:0;
  border-radius: 50%;
  background: var(--text-title);
  margin-top: 0.5rem;
  opacity: 0;
  transform: scale(0.1);
  transition-property: transform opacity border-radius;
  transition-duration: 500ms;
  transition-timing-function: ease;  
}

.mensal button:hover::before {

  transform: scale(1);
  opacity: .1;
  border-radius: 8px;
}

.mensal .small-mensal {
  position: absolute;
  top: 1rem;
  left: -2rem;
  transform: rotateZ(-8deg);
  transition-property: transform;
  transition-duration: 800ms; 
}

.mensal .big-mensal {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  transform: rotateZ(-8deg);
  transition-property: transform;
  transition-duration: 800ms; 
}


.anual .small-anual {
  position: absolute;
  bottom: -1.5rem;
  right: 0rem;
  transform: rotateZ(8deg);
  transition-property: transform;
  transition-duration: 800ms; 
}

.anual .big-anual {
  position: absolute;
  bottom: -1rem;
  right: -3rem;
  transform: rotateZ(8deg);
  transition-property: transform;
  transition-duration: 800ms; 
}


.planos .tipos-planos .anual:hover {
 
  transform: translateY(-1.5rem) rotateZ(8deg);
  box-shadow: 0 0 66px 0 rgba(53,139,185,0.10);
  background: var(--shape-hover);
  border: none;
  z-index: 3;
}

.anual:hover .small-anual {
  transform: rotateZ(-30deg);
}

.anual:hover .big-anual {
  transform: rotateZ(30deg);
}














.planos .tipos-planos .mensal:hover {
 
  transform: translateY(-1rem) rotateZ(-8deg);
  box-shadow: 0 0 66px 0 rgba(53,139,185,0.10);
  background: var(--shape-hover);
  border: none;
  z-index: 3;
}


 .mensal:hover .small-mensal {
  transform: rotateZ(30deg);
}

 .mensal:hover .big-mensal {

  transform: rotateZ(-30deg);
}






